/* LAYOUT */
.ant-layout-header,
.ant-layout-footer {
  color: #f9dec9 !important;
  background: #564e58 !important;
}

.ant-layout-header {
  padding: 0px 0px !important;
}

[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}

[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}

.ant-layout-footer {
  line-height: 1.5;
}

[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}

.ant-layout-content {
  min-height: calc(100vh - 133px) !important;
  color: #564e58;
  line-height: 120px;
  background: #f9dec9;
}

[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}

/* HEADER */
.ant-layout-header .ant-menu {
  color: #f9dec9 !important;
  background: #564e58 !important;
  padding: 0px 40px !important;
  justify-content: end !important;
  padding: 0px 0px !important;
}
